<div class="codeBox">
    <div class = "codeBoxHeader">
    

    </div>
    <div class = "codeBoxCode">
        <p style="color: black;">&lt;div&gt;</p>
        <div class="copyIcon">
        <img  style="width: 20px; float: right; margin-top:5px" src="assets/copyicon.png" title="Click to Copy" (click)="copyCode()">
        </div>
        <!-- <button style="width: 10px; float: right; background: url('assets/copyicon.png');" (click)="copyCode()" value="click to copy" ></button> -->

    </div>

</div>