<!-- <div class="introGuideDiv"> -->
<h2><strong>Part 1: Getting Started With a Basic Angular App</strong></h2>
<hr>
<ul>
	<li>
		<p> You are now staring at an online IDE called Stackblitz. You can create Angular and React projects that are
			immediately online & shareable via link in just one click.</p>
	</li>
	<li>
		<p>This pane, on the right, shows the starting state of the sample Angular app. It defines a frame with a top
			bar (containing the store name and checkout icon)and the title for a product list (which will be populated
			and dynamically updated with data from the application).</p>
	</li>
	<li>
		<p>The project pane on the left is where you will be coding. It shows the source files that make up the
			application, including all of the infrastructure and configuration files. The currently selected file shows
			up in the editor pane in the middle.</p>
	</li>
	<li>
		<p>Before going into the source structure, the next section shows how to fill out the HTML <em>template</em> for
			the product list, using the provided sample data. This should give you an idea how easy it is to modify and
			update the page dynamically.</p>
	</li>
</ul>


<!-- <a routerLink = "/naviPage" class="button">NEXT PAGE</a> -->
<!-- </div> -->