<!-- <div class="introGuideDiv"> -->
<h1 id="part-1-getting-started-with-a-basic-angular-app">Part 1: Getting started with a basic Angular app<a title="Link to this heading" class="header-link" aria-hidden="true" href="start#part-1-getting-started-with-a-basic-angular-app"><i class="material-icons">link</i></a></h1>
<ul>
<li>
<p>The preview pane on the right shows the starting state of the sample Angular app.
It defines a frame with a top bar (containing the store name and checkout icon) and the title for a product list (which will be populated and dynamically updated with data from the application).</p>
</li>
<li>
<p>The project pane on the left shows the source files that make up the application, including all of the infrastructure and configuration files. The currently selected file shows up in the editor pane in the middle.</p>
</li>
</ul>
<p>Before going into the source structure, the next section shows how to fill out the HTML <em>template</em> for the product list, using the provided sample data.
This should give you an idea how easy it is to modify and update the page dynamically.</p>

<div class="callout is-helpful">
<header>StackBlitz tips</header>
<ul>
<li>Log into StackBlitz so you can save and resume your work.
If you have a GitHub account, you can log into StackBlitz
with that account. In order to save your progress, first
fork the project using the Fork button at the top left,
then you'll be able to save your work to your own StackBlitz
account by clicking the Save button.</li>
<li>To copy a code example from this tutorial, click the icon
at the top right of the code example box, and then paste the
code snippet from the clipboard into StackBlitz.</li>
<li>If the StackBlitz preview pane isn't showing what you
expect, save and then click the refresh button.</li>
<li>StackBlitz is continually improving, so there may be
slight differences in generated code, but the app's
behavior will be the same.</li>
<li>When you generate the StackBlitz example apps that
accompany the tutorials, StackBlitz creates the starter
files and mock data for you. The files you'll use throughout
the tutorials are in the <code>src</code> folder of the StackBlitz
example apps.</li>
</ul>
</div>



<li>
<p>In the <code>product-list</code> folder, open the template file <code>product-list.component.html</code>.</p>
</li>

<!-- <a routerLink = "/naviPage" class="button">NEXT PAGE</a> -->
<!-- </div> -->