<div>
	<h2><strong>StackBlitz tips</strong></h2>
	<hr>
	<ul>
		<li>
			<p>Log into StackBlitz so you can save and resume your work.
				If you have a GitHub account, you can log into StackBlitz
				with that account. In order to save your progress, first
				fork the project using the Fork button at the top left,
				then you'll be able to save your work to your own StackBlitz
				account by clicking the Save button.</p>
		</li>
		<li>
			<p>To copy a code example from this tutorial, click the icon
				at the top right of the code example box, and then paste the
				code snippet from the clipboard into StackBlitz.</p>
		</li>
		<li>
			<p>If the StackBlitz preview pane isn't showing what you
				expect, save and then click the refresh button.</p>
		</li>
		<li>
			<p>StackBlitz is continually improving, so there may be
				slight differences in generated code, but the app's
				behavior will be the same.</p>
		</li>
		<li>
			<p>When you generate the StackBlitz example apps that
				accompany the tutorials, StackBlitz creates the starter
				files and mock data for you. The files you'll use throughout
				the tutorials are in the <code>src</code> folder of the StackBlitz
				example apps.</p>
		</li>
	</ul>
</div>