<h1 id="try-it-deployment">Try it: Deployment<a title="Link to this heading" class="header-link" aria-hidden="true"
		href="start/start-deployment#try-it-deployment"><i class="material-icons">link</i></a></h1>
<p>To deploy your application, you have to compile it, and then host the JavaScript, CSS, and HTML on a web server.
	Built Angular applications are very portable and can live in any environment or served by any technology, such as
	Node, Java, .NET, PHP, and many others.</p>
<div class="alert is-helpful">
	<p>Whether you came here directly from <a href="start" title="Try it: A basic app">Part 1</a>, or completed the
		entire online store application through the <a href="start/start-routing"
			title="Try it: In-app navigation">In-app navigation</a>, <a href="start/start-data"
			title="Try it: Manage data">Manage data</a>, and <a href="start/start-forms"
			title="Try it: Forms for user input">Forms for user input</a> sections, you have an application that you can
		deploy by following the instructions in this section.</p>
</div>
<h2 id="share-your-application">Share your application<a title="Link to this heading" class="header-link"
		aria-hidden="true" href="start/start-deployment#share-your-application"><i class="material-icons">link</i></a>
</h2>
<p>StackBlitz projects are public by default, allowing you to share your Angular app via the project URL. Keep in mind
	that this is a great way to share ideas and prototypes, but it is not intended for production hosting.</p>
<ol>
	<li>In your StackBlitz project, make sure you have forked or saved your project.</li>
	<li>In the preview page, you should see a URL that looks like <code>https://&lt;Project ID&gt;.stackblitz.io</code>.
	</li>
	<li>Share this URL with a friend or colleague.</li>
	<li>Users that visit your URL will see a development server start up, and then your application will load.</li>
</ol>
<h2 id="building-locally">Building locally<a title="Link to this heading" class="header-link" aria-hidden="true"
		href="start/start-deployment#building-locally"><i class="material-icons">link</i></a></h2>
<p>To build your application locally or for production, download the source code from your StackBlitz project by
	clicking the <code>Download Project</code> icon in the left menu across from <code>Project</code> to download your
	files.</p>
<p>Once you have the source code downloaded and unzipped, use the <a href="https://angularconsole.com"
		title="Angular Console web site">Angular Console</a> to serve the application, or install <code>Node.js</code>
	and serve your app with the Angular CLI.</p>