<div>
<h1 id="in-app-navigation">In-app navigation<a title="Link to this heading" class="header-link" aria-hidden="true" href="start/start-routing#in-app-navigation"><i class="material-icons">link</i></a></h1>
<p>At the end of <a href="start" title="Get started with a basic Angular app">part 1</a>, the online store application has a basic product catalog.
The app doesn't have any variable states or navigation.
There is one URL, and that URL always displays the "My Store" page with a list of products and their descriptions.</p>
<p>This guide shows you how to use Angular <a href="guide/glossary#router" title="Router definition">routing</a> to give the user in-app navigation. In a single-page app, instead of loading new pages, you show different components and data to the user based on where the user is in the application.</p>
<p>The router lets you display full product details in separate <a href="guide/glossary#view" title="View definition">views</a>, each with its own URL. Routing enables navigation from one view to the next (within the same page) as users perform tasks such as the following:</p>
<ul>
<li>Entering a URL in the address bar to navigate to a corresponding view.</li>
<li>Clicking links on the page to navigate to a new view.</li>
<li>Clicking the browser's back and forward buttons to navigate backward and forward through the browser history.</li>
</ul>
</div>