<li>
	<p>Add the product descriptions. On the <code>&lt;p&gt;</code> element, use an
		<code>*<a href="api/common/NgIf" class="code-anchor">ngIf</a></code> directive so that Angular only creates the
		<code>&lt;p&gt;</code> element if the current product has a description.</p>
	<p>The app now displays the name and description of each product in the list. Notice that the final product does not
		have a description paragraph. Because the product's description property is empty, Angular doesn't create the
		<code>&lt;p&gt;</code> element—including the word "Description".</p>
</li>