<h1 id="try-it-use-forms-for-user-input">Try it: Use forms for user input<a title="Link to this heading"
		class="header-link" aria-hidden="true"
		href="start/start-forms#try-it-use-forms-for-user-input"><i class="material-icons">link</i></a></h1>
<p>At the end of <a href="start/start-data" title="Try it: Managing Data">Managing Data</a>, the online store
	application has a product catalog and a shopping cart.</p>
<p>This section walks you through adding a form-based checkout feature to collect user information as part of checkout.
</p>
<h2 id="forms-in-angular">Forms in Angular<a title="Link to this heading" class="header-link" aria-hidden="true"
		href="start/start-forms#forms-in-angular"><i class="material-icons">link</i></a></h2>
<p>Forms in Angular build upon the standard HTML forms to help you create custom form controls and easy validation
	experiences. There are two parts to an Angular Reactive form: the objects that live in the component to store and
	manage the form, and the visualization of the form that lives in the template.</p>
<h2 id="define-the-checkout-form-model">Define the checkout form model<a title="Link to this heading"
		class="header-link" aria-hidden="true"
		href="start/start-forms#define-the-checkout-form-model"><i class="material-icons">link</i></a></h2>
<p>First, set up the checkout form model. Defined in the component class, the form model is the source of truth for the
	status of the form.</p>