 <div class= "bodyContainer">
     <h1> Welcome to Angular!</h1>

     <p>
        This interactive tutorial introduces you to the essentials of Angular by walking you 
        through a simple e-commerce site with a catalog, shopping cart, and check-out 
        form. To help you get started right away, this guide uses a simple ready-made 
        application that you can examine and modify interactively (without having to 
        set up a local work environment).
     </p>
    <div class="homeButtonDiv">
        <a routerLink="/tutorial" class="button">Let's Get Coding!</a>
    </div>
</div>



