<h1 id="try-it-manage-data">Try it: Manage data<a title="Link to this heading" class="header-link" aria-hidden="true"
		href="start/start-data#try-it-manage-data"><i class="material-icons">link</i></a></h1>
<p>At the end of <a href="start/start-routing" title="Try it: In-app Navigation">In-app Navigation</a>, the online store
	application has a product catalog with two views: a product list and product details.
	Users can click on a product name from the list to see details in a new view, with a distinct URL, or route.</p>
<p>This page guides you through creating the shopping cart in three phases:</p>
<ul>
	<li>Update the product details view to include a "Buy" button, which adds the current product to a list of products
		that a cart service manages.</li>
	<li>Add a cart component, which displays the items in the cart.</li>
	<li>Add a shipping component, which retrieves shipping prices for the items in the cart by using Angular's
		<code><a href="api/common/http/HttpClient" class="code-anchor">HttpClient</a></code> to retrieve shipping data
		from a <code>.json</code> file.</li>
</ul>
<h2 id="services">Services<a title="Link to this heading" class="header-link" aria-hidden="true"
		href="start/start-data#services"><i class="material-icons">link</i></a></h2>
<p>Services are an integral part of Angular applications. In Angular, a service is an instance of a class that you can
	make available to any part of your application using Angular's <a href="guide/glossary#dependency-injection-di"
		title="Dependency injection definition">dependency injection system</a>.</p>
<p>Services are the place where you share data between parts of your application. For the online store, the cart service
	is where you store your cart data and methods.</p>
<h2 id="create-the-shopping-cart-service">Create the shopping cart service<a title="Link to this heading"
		class="header-link" aria-hidden="true"
		href="start/start-data#create-the-shopping-cart-service"><i class="material-icons">link</i></a></h2>
<p>Up to this point, users can view product information, and
	simulate sharing and being notified about product changes.
	They cannot, however, buy products.</p>
<p>In this section, you add a "Buy" button to the product
	details view and set up a cart service to store information
	about products in the cart.</p>
<div class="alert is-helpful">
	<p>A later part of this tutorial, <a href="start/start-forms" title="Try it: Forms for user input">Use forms for
			user input</a>, guides you through accessing this cart service from the view where the user checks out.</p>
</div>